/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET */

/* general */
body, html {
  background-color: #fafafa;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 19px;
}

strong {
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  padding-bottom: .2em;
}
p + p {
  margin-top: .2em;
}
h1 {
    font-size: 60px;
}

h2 {
    font-size: 45px;
}
em {
    font-style: oblique;
}

/* additional classes */
.inline-block {
  display: inline-block;
  clear: none;
  vertical-align: middle;
}

.section {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 .5em;
  transform: skewY(.5deg);
}

/* wrappers */
#root > div {
  /* all wrappers */
  width: 100%;
  transform: skewY(-.5deg);
}

#intro_wrap {
  margin-top: -5em;
  padding-top: 9em;
  padding-bottom: 2em;
  background-color: #e65100;
  color: #FFF;
  background-image: url(./img/lionbot-background.png);
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
  background-position-x: -100px;
}
#sample_wrap {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #FFF;
}
#screenshot {
  width: 100%;
  max-width: 473px;
}
#usage_wrap {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #fafafa;
}
#credits_wrap {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 2em;
  background-color: #e4e4e4;
}



