/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET */

/* general */
body, html {
  background-color: #fafafa;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 19px;
}
::selection { 
  color: white;
  background: rgba(0, 0, 0, 0.24);
}
strong {
  font-weight: 600;
}

code {
  font-weight: 400;
  border-radius: 2px;
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: inline-block;
  font-family: 'Source Code Pro', monospace;
  font-size: 15px;
  padding: .05em .2em .2em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  padding-bottom: .2em;
}
p + p {
  margin-top: .2em;
}
h1 {
  font-size: 60px;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.1),
            0px 8px 13px rgba(0,0,0,0.1),
            0px 18px 23px rgba(0,0,0,0.1);
}

h2 {
    font-size: 45px;
}
em {
    font-style: oblique;
}

/* additional classes */
.inline-block {
  display: inline-block;
  clear: none;
  vertical-align: middle;
}

.section {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 .5em;
  transform: skewY(.5deg);
}

/* wrappers */
#root > div {
  /* all wrappers */
  width: 100%;
  transform: skewY(-.5deg);
}

#intro_wrap {
  margin-top: -5em;
  padding-top: 9em;
  padding-bottom: 2em;
  background-color: #e65100;
  color: #FFF;
  background-image: url(./img/lionbot-background.png);
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
  background-position-x: -100px;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.25);
  box-shadow: inset 0px 0px 80px rgba(0, 0, 0, 0.1);
}

#sample_wrap {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #FFF;
}
#screenshot {
  width: 100%;
  max-width: 473px;
}
#usage_wrap {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #fafafa;
  background-image: url(./img/lionbot-background.png); /*fallback*/
  background-image: linear-gradient(to right, #fafafa, rgba(250, 250, 250, 0.7)), url(./img/lionbot-background.png);
  background-position-x: 100%;
  background-position-x: 100%, 120%;
  background-repeat: no-repeat;
  background-repeat: no-repeat, no-repeat;
  background-blend-mode: normal, multiply;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.05);
  box-shadow: inset 0px 0px 80px rgba(0, 0, 0, 0.01);
}

#credits_wrap {
  padding-top: 1em;
  padding-bottom: 1em;
  /*margin-bottom: 2em;*/
  color: #fafafa;
  font-size: .9em;
  background-color: #212121;
  transform: skewY(0deg)!important;
}
#credits_wrap .section {
  transform: skewY(0deg);
}

#credits_wrap a {
  color: #FFB300;
  text-decoration: none;
  transition: color 0.5s ease;
}
#credits_wrap a:hover {
  color: #FF6F00;
  transition: color 0.5s ease;
}
#logo {
  max-width: 40px;
  margin-right: .5em;
  transition: opacity 0.5s ease;
}
#logo:hover {
  opacity: .9;
  transition: opacity 0.5s ease;
}

@keyframes successAnimation {
	from { 
    background-position: 0 100%; 
    background-size: 1%;
    }
	to { 
    background-position: 100% 0; 
    background-size: 100%;
    }
}
@keyframes failureAnimation {
	from { 
    background-position: 0 100%; 
    background-size: 100%;
    }
	to { 
    background-position: 100% 0; 
    background-size: 1%;
    }
}
.splash {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 25vh;
  text-align: center;
  background: #FFF;
  z-index: 99999;
  background-image: url(./img/lionbot-background.png); 
  background-position-x: 100%;
  background-size: 25%;
  
}
.splash-success {
  color: #000;
  background-blend-mode: normal;
  animation: successAnimation 80s linear infinite;
}

.splash-failure {
  color: #000;
  background-blend-mode: exclusion;
  animation: failureAnimation 80s linear infinite;
}